{% extends "flatpages/default.html" %}

{% load custom_filters %}

{% block css %}
{% load static %}
    <link href="{% static '/css/styles2.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
    <p>author: {{ post.author.authorUser.username }}</p>
{% if post.title %}
    <h1>{{ post.title }}</h1>
    <date>{{ post.dateCreation|date:'d-m-Y H:i' }}</date>
    <p>{{ post.text|cenzor }}</p>
{% else %}
    <h1>Новость без заголовка....</h1>
    <p>Мы вам это не покажем...</p>
{% endif %}
    <a href="{% url 'post_update' post.id %}"><u> Редактировать </u></a><br>
    <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
    <hr>
    <div>
    {% if not_subscribed %}
        <form action="{% url 'subscribe' %}" method="POST">
            {% csrf_token %}
            <label>Категории:</label><br>
            {% for cat in not_subscribed %}
                <label><input type='checkbox' name={{ cat }} value= {{ cat }}>{{ cat }}</label><br>
            {% endfor %}
            <input type="hidden" name="id_news" value={{ post.id }}>
            <button>Подписаться</button>
        </form>
    {% endif %}
    </div>
{% endblock content%}